body {
  margin: 0px;
  background-color: #cccccc;
}
.navbar {
  background-color: black;
  color: #ffffff;

}
.navbar .logo {
  background-color: red;
  font-size: 40px;
  display: inline-block;
  padding: 0px 15px;
  font-weight: bold;
}
.navbar .menu {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}
.navbar .menu li {
  display: inline-block;
  padding: 5px 15px;
  line-height: 37px;
  font-weight: bold;
}
.container .ads {
  padding-left: 300px;
  padding-right: 300px;
}
.container .ads span {
  font-weight: bold;
}
.container .ads p {
  border: 2px;
  border-style: solid;
  padding: 50px 30px 50px 230px;
}
.article {
  padding: 50px 0px 0px 50px;
  font-weight: bold;
  background-color: white;
}
.article span {
  color: red;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.article h1 {
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.article h2 {
  font-size: 14px;
  padding-bottom: 20px;
}
.article h2 span {
  color: blue;
}
.article img {
  border: 1px;
  border-style: solid;
}
.article p {
  font-weight: normal;
  padding-bottom: 20px;
}
